@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  --sb-track-color: #00000000;
  --sb-thumb-color: #ff8000;
  --sb-size: 3px;
  user-select: none;
}
*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3c3f45;
  background-image: url('../assets/bg.png');
}


@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

a{
  text-decoration: none;
  color: inherit;
  padding: 0px;
  margin: 0px;
}
/*-----------------------------------------------------------------------------*/
.Container1{
  width: 90%;
  margin: auto auto 100px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
/*-----------------------------------------------------------------------------*/
.Recording-container{
  user-select: none;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px;
  border-radius:5px;
  width: 100%;
  max-width: fit-content;
  margin: auto;
}

#title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #eeeeee;;
  text-transform: uppercase;
  transition: 0.2s all ease ;
  cursor: default;
  &:hover{
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    }
}
.title-deco{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #eeeeee;;
}
.navigation{
  position: relative;
  margin-top: 20px;
  margin: 20px auto auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 100px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px;
    border-radius: 50px;
    border: 2px solid #ff8000;
    width: 100px;
    font-size: 1rem;
    color: #ffffff;
    transition: 0.3s ease all;
    &:hover{
        background-color: #ff8000ea;
        border: 2px solid #ffffff;
    }
}
.recording button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  border-radius: 100%;
  border: 2px solid #d06800;
  width: 100px;
  height: 100px;
  font-size: 1rem;
  color: #ffffff;
  background-image: url('../assets/bg.png');
  background-color: #333;
  cursor: pointer;
  transition: 0.3s ease all;
  &:hover{
      background-color: #ff8000ea;
      border: 2px solid #ffffff;
  }
}
#rotate{
    transform: rotate(180deg);
}
#stopButton{
    display: none;
}
#videoContainer{
  position: relative;
  width: 800px;
  height: 500px;
  padding: 0px;
  border-radius: 10px;
}
#loading{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
#videoElement{
  display: none;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: contain;
}
#youtube{
  border-radius: 5px;   
  margin: auto;
}
/*-----------------------------------------------------------------------------*/
.title-program{
  font-size: 3rem;
  display: block;
  margin: 80px auto 30px auto;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
}

.exercise{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #ff8000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-align: center;

  width: max-content;
  margin: auto auto 40px auto;
}

.addborderRadius{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*----------------------------------------------------------------*/
@media only screen and (max-width: 1470px) {
  .Container1{
    gap: 30px;
  }
}
@media only screen and (max-width: 630px) {
  .title-program{
    font-size: 7vw;
  }
  .exercise{
    font-size: 6vw;
  }

}
/*----------------------------------------------------------------*/
.GoBackButton{
  position: absolute;
  top: 20px;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0px auto 10px 0px;    
  padding: 15px;
  width: max-content;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cecece;
  background: linear-gradient(90deg, #ff8000, #b35a00);
  transition: 0.2s ease;
  &:hover{
      cursor: pointer;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.202);
  }
}
.GoBackButton svg{
  transform: rotate(180deg);
}
/*-----------------------------------------------------------------------------*/
.Barre {
    position: fixed;
    width: 6.5px;
    height: 50%;
    background-color: #e67300;
    border-radius: 25px;
    z-index: -2;
    user-select: none;
  }
  
.dots{
  position: fixed;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #cc6600;
  filter: blur(2px);
  z-index: -3;
  user-select: none;
}

.show-moreDots{
  display: none;
}

@media only screen and (max-width: 630px) {
  .hide-barre{
    display: none;
  }
  .show-moreDots{
    display: block;
  }

}
/*-----------------------------------------------------------------------------*/
.blur-orange {
  position: fixed;
  background-color: rgb(253, 120, 43);
  filter: blur(190px);
  z-index: -4;
  width: 300px;
  height: 500px;
  animation: blurOrangeAnimation 4s infinite alternate;
}
@keyframes blurOrangeAnimation {
  0% {
    filter: blur(190px);
    width: 300px;
    height: 500px;
  }
  50% {
    filter: blur(170px);
    width: 400px;
    height: 600px;
  }
  100% {
    filter: blur(190px);
    width: 300px;
    height: 500px;
  }
}



@media only screen and (max-width: 768px) {
  .blur-orange {
    filter: blur(100px);
    width: 100px;
    height: 300px;
  }
  
  @keyframes blurOrangeAnimation {
    0% {
      filter: blur(100px);
      width: 100px;
      height: 300px;
    }
    50% {
      filter: blur(80px);
      width: 200px;
      height: 400px;
    }
    100% {
      filter: blur(100px);
      width: 100px;
      height: 300px;
    }
  }
  
}